.modal {
    width: 100%;
    height: 100%;
    background-color: rgb(195, 206, 206);
    z-index: 1;
    display: grid;
    place-content: center;
}

.file {
    cursor: pointer;

}

.file::file-selector-button {

    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: var(--m);
    font-weight: lighter;
    border-radius: 10px;
    cursor: pointer;

}