.friends-tab {
    padding-right: 20px;
}

.users {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-status-online) white;
}

.user {
    display: flex;
    align-items: center;
}

.add {
    width: 100px;
}